
@model SistVehiculo.Models.pa_RetornaVehiculosClienteID_Result

@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
}

@{
    ViewBag.Title = "Elimina Vehículo Cliente";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Eliminar Vehículo</h2>


<form id="frmEliminaVehiculoCliente" method="post">
    <div class="form-group">
        <label>Id de Vehiculo:</label>
        <input type="text" name="idVehiculos" id="idVehiculos" class="form-control" value="@Model.idVehiculos" readonly />
    </div>
    <div class="form-group">
        <label>Placa:</label>
        <input type="text" name="placa" id="placa" class="form-control" value="@Model.placa" readonly />
    </div>
    <div class="form-group">
        <label>Tipo de Vehiculo:</label>
        <input type="text" name="tipoVehiculo" id="tipoVehiculo" class="form-control" value="@Model.tipoVehiculo" readonly />
    </div>
    <div class="form-group">
        <label>Marca Vehiculo:</label>
        <input type="text" name="marcaVehiculo" id="marcaVehiculo" class="form-control" value="@Model.marcaVehiculo" readonly />
    </div>
    <div class="form-group">
        <label>Número de Puertas:</label>
        <input type="text" name="numeroPuerta" id="numeroPuerta" class="form-control" value="@Model.numeroPuerta" readonly />
    </div>
    <div class="form-group">
        <label>Número de Ruedas:</label>
        <input type="text" name="numeroRueda" id="numeroRueda" class="form-control" value="@Model.numeroRueda" readonly />
    </div>
    <div class="form-group">
        <input type="submit" value="Eliminar" id="btnAceptar" />
    </div>
    <a href="~/MantVehiculos/ListaVehiculos">Regresar a la lista</a>
</form>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/mantVehiculos/mantVehiculos.js"></script>
}