
@{
    ViewBag.Title = "Insertar Vehiculos Cliente";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

@section css{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="~/Content/mantVehiculosxCliente/mantVehiculosxCliente.css" rel="stylesheet" />
}



<h2>Ingresar nuevo Vehículo</h2>


<form id="frmNuevoVehiculoCliente" method="post">


    <div class="form-group">
        <label>Cliente :</label>
        <select name="idCliente" id="idCliente" class="form-control">
            <option value="">SELECCIONE UN CLIENTE</option>
            @{
                foreach (SistVehiculo.Models.pa_RetornaCliente_Result Cliente in ViewBag.ListaCliente)



                {


                    <option value="@Cliente.idCliente">@Cliente.nomCliente.ToUpper()  @Cliente.ape1Cliente.ToUpper() @Cliente.ape2Cliente.ToUpper()</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Vehiculo:</label>
        <select name="idVehiculo" id="idVehiculo" class="form-control">
            <option value="">SELECCIONE UN VEHICULO</option>
            @{
                foreach (SistVehiculo.Models.pa_RetornaVehiculos_Result Vehiculo in ViewBag.ListaVehiculos)

                {


                    <option value="@Vehiculo.idVehiculos">@Vehiculo.tipo.ToUpper() @Vehiculo.marca.ToUpper() </option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Registrar" id="btnAceptar" class="btn btn-success btnRegistrar" />
    </div>
</form>
<a href="~/MantVehiculosCliente/ListaVehiculosCliente" class="btn btn-warning">Regresar a la lista</a>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/mantVehiculosCliente/mantVehiculosCliente.js"></script>
}