<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Principal.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    @RenderSection("css", required: false) <!--Permite incluir css para cada vista-->
</head>
<body>
    <header>
        @if ((int)Session["tipousuario"] == 1)
        {
            <div class="navbarAdministrador">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-inverse">
                    <a class="navbar-brand logo" href="/Inicio/Inicio">
                        <img src="~/Content/img/logo-castro-carazo.png" />
                        @Html.ActionLink("Sistema Vehículos", "Principal", "Home", new { area = "" }, new { @class = "navbar-brand opciones" })
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="#">Facturación</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mantenimiento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item">@Html.ActionLink("Servicio y Productos", "ListaServiciosProductos", "MantServiciosProductos")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Tipos vehículos", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Marcas de vehículos", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Clientes", "ListaClientes", "MantClientes")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Vehículos", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Vehículos por cliente", "About", "Home")</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reportes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item">@Html.ActionLink("Vehículos por cliente", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Servicios por cliente", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Servicios por vehículo", "About", "Home")</li>
                                </ul>
                            </li>
                        </ul>
                        <li class="logout">@Html.ActionLink("Cerrar Sesión", "Logout", "Sesion")</li>
                    </div>
                </nav>
            </div>
        }
        else
        {
            <div class="navbarConsultor">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-inverse">
                    <a class="navbar-brand logo" href="/Inicio/Inicio">
                        <img src="~/Content/img/logo-castro-carazo.png" />
                        @Html.ActionLink("Sistema Vehículos", "Principal", "Home", new { area = "" }, new { @class = "navbar-brand opciones" })
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mantenimiento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item">@Html.ActionLink("Servicios por cliente", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Vehículos por cliente", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Servicios por vehículo", "About", "Home")</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reportes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item">@Html.ActionLink("Vehículos por cliente", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Servicios por cliente", "About", "Home")</li>
                                    <li class="dropdown-item">@Html.ActionLink("Servicios por vehículo", "About", "Home")</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Perfil
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item">@Html.ActionLink("Modificar datos", "About", "Home")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        }
    </header>
    <div class="containerBody body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="containerfooter">
            <div class="footer-content">
                <div class="items">
                    <img src="~/Content/img/logo-castro-carazo.png" class="logofooter" />
                    <p>
                        Disfruta de todos los beneficios que obtendrás al utilizar los servicios de nuestra empresa,
                        brindamos todo tipo de servicio premium y básico.
                    </p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="items">
                    <h3> Servicios</h3>
                    <ul>
                        <li>Reparación Vehículos</li>
                        <li>Limpieza</li>
                        <li>Repuestos</li>
                    </ul>
                </div>

                <div class="items">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><a href="tel:60022020">60022020</a></li>
                        <li><a href="mailto:soportevgt@castrocarazo.ac.cr">soportevgt@castrocarazo.ac.cr</a></li>
                    </ul>
                </div>
                <div class="items">
                    <h3>Ubicación</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.62553102865036!2d-84.07577563798702!3d9.933249808257596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e366b31e1825%3A0xc7e80bd4f3a1e96e!2sUniversidad%20Castro%20Carazo%2C%20Edificio%20Biblioteca!5e0!3m2!1ses!2scr!4v1576036938514!5m2!1ses!2scr" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

            </div>
            <hr>
            <p class="end">Copyright © 2021. Proyecto Programación VI.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/07570749ac.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/validacion")
    @RenderSection("scripts", required: false)
</body>
</html>
