@model SistVehiculo.Models.pa_RetornaVehiculosID_Result



@{
    ViewBag.Title = "Modifica Vehículo";
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<h2>Modificar Vehículo</h2>


<form id="frmModificaVehiculo" method="post">
    <div class="form-group">
        <label>Placa:</label>
        <input type="text" name="placa" id="placa" class="form-control" value="@Model.placa" />
    </div>

    <div class="form-group">
        <label>Tipo:</label>
        <input type="text" name="tipo" id="tipo" class="form-control" value="@Model.tipoVehiculo" />
    </div>
    <div class="form-group">
        <label>Tipo de Vehículo:</label>
        <input type="text" name="tipoVeh" id="tipoVeh" class="form-control" value="@Model.marcaVehiculo" />
    </div>
    <div class="form-group">
        <label>Número de Puertas:</label>
        <input type="text" name="numeroPuerta" id="numeroPuerta" class="form-control" value="@Model.numeroPuerta" />
    </div>
    <div class="form-group">
        <label>Número de Ruedas:</label>
        <input type="text" name="numeroRueda" id="numeroRueda" class="form-control" value="@Model.numeroRueda" />
    </div>
    <div class="form-group">
        <input type="submit" value="Modificar" id="btnAceptar" />
    </div>
    <a href="~/MantVehiculos/ListaVehiculos">Regresar a la lista</a>
</form>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/Scripts/mantVehiculos/mantVehiculos.js"></script>
}